@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

.main {

    width: 100vh;
    
    
    h1 {
        
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 50%;
        font-family: 'Lexend Mega', sans-serif;
        color:white;
    }


}