*{
    margin: 0;
    border: 0;
}



img{
    width: 600px;
    height: auto;
    object-fit: cover;
}

.galeria{
    margin-top: 50px;
    text-align: center;
}

.galeria table{
    margin: 0 auto;
    text-align: left;
    border-spacing: 50px;
}